################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LocationService/v15
/LocationService/bin/Debug/netcoreapp2.1
/LocationService/obj
/.vs/LocationService/DesignTimeBuild
/.vs/Micro.LocationService/v15
/.vs
/LocationService.Tests/obj
/LocationService.Tests/bin/Debug/netcoreapp2.1
